$theme-colors: (
  "primary": #bd32d9,
  "primaryD": #7812b0,
  "secondary": #72a9ff,
  "secondaryD": #5d56fa,
  "offBlack": #232323,
);

@import "node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    rgba(189, 50, 217, 1) 0%,
    rgba(114, 169, 255, 1) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
  color: map-get($theme-colors, "offBlack");
}

.img {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

form {
  max-height: 90vh;
  border-radius: 1rem;
  @extend .bg-light;
  & .cover {
    background: url("../assets/pia16884.jpg") top left/cover no-repeat;
  }
  & label {
    @extend .m-0;
  }
  & #erreurs {
    @extend .ml-3;
    @extend .p-0;
    @extend .text-danger;
  }
  & .erreur {
    @extend .text-danger;
    @extend .m-0;
    @extend .ml-2;
  }
}

.quiz {
  & .h2 {
    border-bottom-style: solid;
    border-bottom-color: map-get($theme-colors, "secondaryD");
    border-width: 0.4rem;
  }

  & #questionImg {
    border-top-left-radius: 0;
    @extend .img;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
  }

  // Cacher les boutons par défaut
  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  & .radio {
    cursor: pointer;
    border: 1px solid map-get($theme-colors, "secondary");
    font-size: 1.2rem;
    @extend .position-relative;
    @extend .d-block;
    @extend .rounded-lg;
    @extend .p-2;
    @extend .my-3;
    @extend .text-center;
    &:hover {
      background-color: map-get($theme-colors, "secondary");
    }
  }
  & #textExplication {
    color: map-get($theme-colors, "offBlack");
    font-size: 1.3rem;
    line-height: 2;
  }
  & #infosUtilisateur {
    font-size: 2rem;
    line-height: 2;
    @extend .mx-auto;
  }
}
